VITE_SUPABASE_URL=https://zzkmyxjqhhgrzpfsleab.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp6a215eGpxaGhncnpwZnNsZWFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwMjIzMTksImV4cCI6MjA5ODU5ODMxOX0.9bdSHSclGgh-pU4vI14Oi4wEzj5c2-u0DxwtXVdCcrQ
VITE_API_URL=http://localhost:4000/api
